EXPO_PUBLIC_API_BASE_URL=https://api.musicianz.site/api/v1
EXPO_PUBLIC_WS_BASE_URL=wss://api.musicianz.site
ALLOW_INSECURE_HTTP=false

APP_VARIANT=preview
APP_DISPLAY_NAME=Musician's Arena Preview
APP_SLUG=musicians-arena-preview
APP_SCHEME=musiciansarena
APP_VERSION=1.0.0

IOS_BUNDLE_IDENTIFIER=com.remedy1995.musiciansarena
IOS_BUILD_NUMBER=1

ANDROID_PACKAGE=com.remedy1995.musiciansarena
ANDROID_VERSION_CODE=1

EAS_PROJECT_ID=d87d4395-c737-433e-a7b5-00b37877b66b
