APP_DOMAIN=api.musicianz.site
WEB_DOMAIN=musicianz.site
ACME_EMAIL=ops@musicianz.site
API_PORT=8000
WEB_PORT=8080
EXPO_PUBLIC_API_BASE_URL=https://api.musicianz.site/api/v1
EXPO_PUBLIC_WS_BASE_URL=wss://api.musicianz.site
