{
	email {$ACME_EMAIL:admin@example.com}
}


{$WEB_DOMAIN:musicianz.site} {
	encode zstd gzip
	reverse_proxy web:80
}

{$SHIRLEY_DOMAIN:shirleytrading.com}, {$SHIRLEY_WWW_DOMAIN:www.shirleytrading.com} {
	encode zstd gzip
	reverse_proxy host.docker.internal:8081
}

{$APP_DOMAIN:api.musicianz.site} {
	encode zstd gzip

	handle_path /static/* {
		root * /srv/static
		file_server
	}

	handle_path /media/* {
		root * /srv/media
		file_server
	}

	reverse_proxy api:8000
}
